In [3]:
arr = []
for i in range(int(input())):
    s = raw_input().split()
    for i in range(1,len(s)):
        s[i] = int(s[i])
    
    if s[0] == "append":
        arr.append(s[1])
    elif s[0] == "extend":    
        arr.extend(s[1:])
    elif s[0] == "insert":
        arr.insert(s[1],s[2])
    elif s[0] == "remove":
        arr.remove(s[1])
    elif s[0] == "pop":
        arr.pop()
    elif s[0] == "index":
        print arr.index(s[1])
    elif s[0] == "count":
        print arr.count(s[1])
    elif s[0] == "sort":
        arr.sort()
    elif s[0] == "reverse":
        arr.reverse()
    elif s[0] == "print":
        print arr

5
insert 0 5
insert 1 11
print
[5, 11]
append 9
print
[5, 11, 9]

In [4]:
in_line = raw_input()

1234

In [6]:
in_list = in_line.split()

In [7]:
in_list

['1234']

In [8]:
n = raw_input()

5

In [10]:
input_line = raw_input()

1234

In [11]:
input_list = input_line.split()

In [63]:
input_list

1234

In [21]:
#converting this into an integer
for i in xrange(len(input_list)):
    input_list[i] = int(input_list[i])
    
print input_list

[1234]

In [22]:
#another method of converting a into an integer
input_list = map(int,input_list)

In [23]:
input_list

[1234]

In [24]:
t = tuple(input_list)

In [25]:
print t

(1234,)

In [26]:
print hash(t)

3429044384633

In [27]:
in_li = raw_input().strip()

1234

In [28]:
print in_li

1234

In [29]:
in_list = in_li.split()

In [30]:
in_list

['1234']

In [31]:
in_list = map(int, in_list)

In [32]:
in_list

[1234]

In [38]:
i = map(int,raw_input().split())

2

In [39]:
i

[2]

In [40]:
ti = tuple(i)

In [41]:
hash(ti)

3430020387561

In [42]:
n = int(raw_input())

2

In [50]:
n

2

In [49]:
n = int(raw_input())
integer_list = map(int,raw_input().split())

2
12

# Coverting a string into a int using map and put into a list

Reading the input value in string and put inside the list and convert it into a integer format

In [51]:
#read a input in the form of string
in_li = raw_input()

12345

In [52]:
in_li

'12345'

In [54]:
#put this string into inside the list
in_list = in_li.split()

In [55]:
in_list

['12345']

In [56]:
#convert the string into an integer format using map() funciton
in_list = map(int, in_list)

In [57]:
#the entered list into an integer format
in_list

[12345]

In [58]:
#covert it into a hash format 
#fisrt it covert into a tuple
t = tuple(in_list)

In [59]:
print hash(t)

3434059399678

In [60]:
#covert directly into a integer and push into a list while reading from the user
inputs = map(int, raw_input().split())

12345

In [62]:
#its put into an lists with an integer format

In [64]:
inputs

[12345]

In [5]:
s = ['1234','12','1','2']

In [6]:
for i in range(len(s)):
    s[i] = int(s[i])
print s

[1234, 12, 1, 2]

In [1]:
#---------
i = raw_input()

1234

In [2]:
i

'1234'

In [3]:
i_list = i.split()

In [4]:
i_list

['1234']

In [5]:
i_list = map(int,i_list)

In [6]:
i_list

[1234]

In [8]:
t = tuple(i_list)

In [9]:
t

(1234,)